// font
$font-family: "Typo Round", sans-serif;

//colors
$color-text: black;
$color-background-dark: black;
$color-background-light: white;

$color-light-blue: #a3c7d2;
$color-pink: #ebc1d9;
$color-light-green: #c1ebc0;
$color-blue: #5ac2ea;
$color-lightest-blue: #c0eaec;
$color-green: #a1d24b;
$color-dark-green: #4bd27d;
$color-purple: #b9babc;
$color-yellow: #e9da24;
$color-orange: #eab37e;
$color-red: #d14b50;
